<template>
    <div>
        <div class="container text-center">
            <filters
                @loadTransactionEvent="getTransaction"
                :disabled="loading">
            </filters>
            <div v-show="error" class="alert alert-danger">{{error}}</div>
        </div>
        <div class="container-fluid">
            <div v-show="report">
                <div v-for="currencyReport in report" class="alert alert-success report-block">
                    <div v-for="(info, label) in currencyReport">
                        <strong>{{label}}:</strong>{{ info }}
                    </div>
                </div>
            </div>
            <div v-show="transactions" class="alert alert-info">
                <span v-show="transactions.from">Showing from {{transactions.from}}</span>
                <span v-show="transactions.to"> to {{transactions.to}}</span>
            </div>
            <transaction-table
                :data="transactions"
            ></transaction-table>
            <div class="text-center">
                <button 
                    v-show="transactions.next_page_url" 
                    class="btn btn-primary"
                    @click="getMoreTransaction"
                    :disabled="loading"><strong>SHOW MORE</strong>
                </button>
            </div>
        </div>
        <div v-show="loading" class="loader"></div>
    </div>
</template>

<script>
    import filters from './Filters'
    import TransactionTable from './TransactionTable'

    export default {
        components: { 
            filters, 
            TransactionTable
        },
        data() {
            return {
                error: '',
                transactions: false,
                report: false,
                loading: false,
                loadedStart: false,
                loadedEnd: false
            }
        },
        mounted() {
        },
        methods: {
            // loader
            getTransaction (data)
            {
                this.loading = true;
                let url = '/api/transactions?start=' + encodeURIComponent(data.start) + '&end=' + encodeURIComponent(data.end)
                axios.get(url)
                    .then(response => { 
                        this.loading = false;
                        if (response.data.result) {
                            this.transactions = response.data.transactions.data
                            this.report = response.data.report.data
                            this.loadedStart = data.start
                            this.loadedEnd = data.end
                        }
                        else
                            this.error = response.data.error
                })
            },
            getMoreTransaction ()
            {
                this.loading = true;
                let url = '/api/getmoretransactions?start=' + encodeURIComponent(this.loadedStart) + '&end=' + encodeURIComponent(this.loadedEnd) + '&page=' + (this.transactions.current_page + 1)
                axios.get(url)
                    .then(response => { 
                        this.loading = false;
                        if (response.data.result) {
                            let newTransaction = [...this.transactions.data, ...response.data.data.data]
                            this.transactions.data = newTransaction

                            this.transactions.current_page = response.data.data.current_page
                            this.transactions.to = response.data.data.to
                        }
                        else
                            this.error = response.data.error
                })
            }
        }
    }
</script>

<style type="text/css" scoped>
    .report-block {
        display: inline-block;
        margin-right: 10px;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        left: calc(50% - 60px);
        top: calc(50% - 60px);
        position: fixed;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>