<template>
    <div class="container">
        <label for="start">Start date:</label>
        <input v-model="startDate"
            type="date" id="start" name="start"
            min="2015-01-01" :max="today">

        <label for="start">End date:</label>
        <input  v-model="endDate"
            type="date" id="start" name="start"
            min="2015-01-01" :max="today">
        <button 
            @click="emitLoadTransaction"
            :disabled="disabled">Load Transactions List</button>
    </div>
</template>

<script>
    export default {
        props: ['disabled'],
        mounted() {
        },
        data() {
            return {
                'startDate': this.monthAgo(),
                'endDate': this.today()
            }

        },
        methods: {
            emitLoadTransaction () {
                this.$emit('loadTransactionEvent', {
                    start: this.startDate,
                    end: this.endDate
                })
            },
            today() {
                return new Date().toISOString().substring(0, 10);
            },
            monthAgo() {
                let today = new Date()
                return new Date(today.setMonth(today.getMonth() - 1)).toISOString().substring(0, 10);
            }
        }
    }
</script>