<template>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th v-for="header in data.headers">{{header}}</th>
            </tr>
            <template v-for="row in data.data">
                <tr>
                    <td v-for="header in data.headers">
                        <template v-if="row[header] instanceof Object">
                            <div v-for="(details, section) in row[header]">
                                <template v-if="section == 'merchant'">
                                    <template v-for="(extraDetails, subSection) in details">
                                        <div class="subSection"><strong>{{subSection}}</strong>: {{extraDetails}}</div>
                                    </template>
                                </template>
                                <template class="subSection" v-else><strong>{{section}}</strong>: {{details}}</template>
                            </div>
                        </template>
                        <div v-else>{{row[header]}}</div>
                    </td>
                </tr>
            </template>
            
        </table>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        mounted() {
        },
        methods: {
        }
    }
</script>

<style type="text/css" scoped="">
    .subSection {
        display: block;
        font-size: 80%;
    }
</style>